body{
  font-family: 'Plus Jakarta Sans', sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
    flex: 1;
    
}
#map {
  height: 400px;
  width: 80vh;
  border-radius: 12px;
}

footer {
  position: relative;
  width: 100%;
  margin-top: 2rem;
}


 .navbar{
    height: 5rem;
    background-color: white;
 }
 .fa-compass{
    color: #fe424d;
    font-size: 2rem;
 }
 .nav-link{
    color: #222222 !important ;
 }
 .f-info-links a{
text-decoration:none;
color: #222222;
 }
  .f-info-links a:hover{
text-decoration:underline;
 }

 .f-info-links,.f-info-brand,.f-info-socials{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
 }



.f-info-socials i{
margin-right:1rem;
font-size: 1.2rem;
}
 .f-info{
    background-color: rgb(236, 232, 232);
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    width: 100% !important;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
    
 }

.listing-card{
    border: none;
    margin-bottom: 2 rem;

}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
font-weight: 400;
}
.listing-link{
    text-decoration: none;
}
.card-img-overlay {
    opacity: 0;
}
.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}
.add-btn{
       background-color: #fe424d !important;
       border: none !important;
}
.edit-btn{
      background-color: #fe424d !important;
       border: none !important;
}
.show-img{
    height: 30vh;
}
.btns{
    display: flex;
}
.booking-box {
 background-color: #fff;
    border: 1px solid #dfe3e7;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    max-width: 400px; /* Prevents the card from stretching too wide */
    margin: 2rem auto; /
}
/* Hide the loose booking form at the top/bottom */
.container > form[action^="/bookings"] {
    display: none;
}
.booking-box h4 {
  margin-bottom: 15px;
  font-weight: 600;
}

.date-group {
  display: flex;
  gap: 10px;
}

.date-group div {
  flex: 1;
}

.date-group label {
  font-size: 0.8rem;
  color: #555;
}

.date-group input {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.price {
  margin: 15px 0;
  font-weight: bold;
  font-size: 1.1rem;
}

.book-btn {
  width: 100%;
  padding: 10px;
  background: #ff385c;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.book-btn:hover {
  background: #e03150;
}

/* .show-card{
    padding-left: 0;
    padding-right: 0;
} */